<!doctype html>
<html>
  <head>
    <title>Spyglass</title>
  </head>

  <body>
    <main id='root'></main>

    <dialog id='driver-modal' class='modal'>
      <div class='modal-box'>
        <h3 class='text-lg font-bold'>Missing Driver</h3>
        <p class='pt-4'>You are missing the <span id='driver-name'></span> driver to connect to this <span id='client-name'></span> database. Do you want to install it?</p>
        <p class='pt-2 text-sm'>Spyglass will restart. Any unsaved changes will be lost.</p>

        <div class='modal-action'>
          <form method='dialog'>
            <button class='btn'>No</button>
            <button class='btn btn-success' onClick='installDriver(window._missingDriver)'>Install</button>
          </form>
        </div>
      </div>
    </dialog>

    <script type='module' src='./index.tsx'></script>
  </body>
</html>